@{
    ViewBag.Title = "Juego Lizeth";
}


<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <!--      Wizard container        -->
        <div class="wizard-container" style="padding-top:15px">
            <div class="card wizard-card" data-color="orange" id="wizardProfile">
                <form action="" method="">

                    <div class="wizard-header text-center">
                        <h3 class="wizard-title">Ponte a prueba</h3>
                    </div>

                    <div class="wizard-navigation">
                        <div class="progress-with-circle">
                            <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="3" style="width: 21%;"></div>
                        </div>
                        <ul>
                            <li>
                                <a href="#inicio" data-toggle="tab">
                                    <div class="icon-circle">
                                        <i class="ti-user"></i>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#nivel1" data-toggle="tab">
                                    <div class="icon-circle">
                                        <i class="ti-settings"></i>
                                    </div>
                                    Nivel 1
                                </a>
                            </li>
                            <li>
                                <a href="#nivel2" data-toggle="tab">
                                    <div class="icon-circle">
                                        <i class="ti-settings"></i>
                                    </div>
                                    Nivel 2
                                </a>
                            </li>
                            <li>
                                <a href="#nivel3" data-toggle="tab">
                                    <div class="icon-circle">
                                        <i class="ti-settings"></i>
                                    </div>
                                    Nivel 3
                                </a>
                            </li>
                            <li>
                                <a href="#nivel4" data-toggle="tab">
                                    <div class="icon-circle">
                                        <i class="ti-settings"></i>
                                    </div>
                                    Nivel 4
                                </a>
                            </li>
                            <li>
                                <a href="#nivel5" data-toggle="tab">
                                    <div class="icon-circle">
                                        <i class="ti-settings"></i>
                                    </div>
                                    Nivel 5
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane" id="inicio">
                            <div class="row">
                                <h5 class="info-text"> Para iniciar escribe tu nombre</h5>
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="form-group">
                                        <label>Nombre <small>(obligatorio)</small></label>
                                        <input name="nombre" id="nombre" type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="nivel1">
                            <h5 class="info-text" name="enunciado">  </h5>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <table border="0">
                                        <tr>
                                            <td>
                                                <input type="radio" id="nivel1A" name="nivel1" value="" />
                                                <label for="nivel1A">A. <span name="value"></span></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="radio" id="nivel1B" name="nivel1" value="" />
                                                <label for="nivel1B">B. <span name="value"></span></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="radio" id="nivel1C" name="nivel1" value="" />
                                                <label for="nivel1C">C. <span name="value"></span></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="radio" id="nivel1D" name="nivel1" value="" />
                                                <label for="nivel1D">D. <span name="value"></span></label>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="row col-md-4 col-md-offset-4">
                                        <input type='button' onclick="validarRespuesta(this)"  class='btn btn-responder btn-fill btn-warning btn-wd' name='nivel1' value='Responder' disabled/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="nivel2">
                            <h5 class="info-text" name="enunciado">  </h5>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <table border="0">
                                        <tr>
                                            <td>
                                                <input type="radio" id="nivel2A" name="nivel2" value="" />
                                                <label for="nivel2A">A. <span name="value"></span></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="radio" id="nivel2B" name="nivel2" value="" />
                                                <label for="nivel2B">B. <span name="value"></span></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="radio" id="nivel2C" name="nivel2" value="" />
                                                <label for="nivel2C">C. <span name="value"></span></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="radio" id="nivel2D" name="nivel2" value="" />
                                                <label for="nivel2D">D. <span name="value"></span></label>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="row col-md-4 col-md-offset-4">
                                        <input type='button' onclick="validarRespuesta(this)" class='btn btn-responder btn-fill btn-warning btn-wd' name='nivel2' value='Responder' disabled/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="nivel3">
                            <h5 class="info-text" name="enunciado">  </h5>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <table border="0">
                                        <tr>
                                            <td>
                                                <input type="radio" id="nivel3A" name="nivel3" value="" />
                                                <label for="nivel3A">A. <span name="value"></span></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="radio" id="nivel3B" name="nivel3" value="" />
                                                <label for="nivel3B">B. <span name="value"></span></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="radio" id="nivel3C" name="nivel3" value="" />
                                                <label for="nivel3C">C. <span name="value"></span></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="radio" id="nivel3D" name="nivel3" value="" />
                                                <label for="nivel3D">D. <span name="value"></span></label>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="row col-md-4 col-md-offset-4">
                                        <input type='button' onclick="validarRespuesta(this)" class='btn btn-responder btn-fill btn-warning btn-wd' name='nivel3' value='Responder' disabled/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="nivel4">
                            <h5 class="info-text" name="enunciado">  </h5>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <table border="0">
                                        <tr>
                                            <td>
                                                <input type="radio" id="nivel4A" name="nivel4" value="" />
                                                <label for="nivel4A">A. <span name="value"></span></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="radio" id="nivel4B" name="nivel4" value="" />
                                                <label for="nivel4B">B. <span name="value"></span></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="radio" id="nivel4C" name="nivel4" value="" />
                                                <label for="nivel4C">C. <span name="value"></span></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="radio" id="nivel4D" name="nivel4" value="" />
                                                <label for="nivel4D">D. <span name="value"></span></label>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="row col-md-4 col-md-offset-4">
                                        <input type='button' onclick="validarRespuesta(this)" class='btn btn-responder btn-fill btn-warning btn-wd' name='nivel4' value='Responder' disabled/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="nivel5">
                            <h5 class="info-text" name="enunciado">  </h5>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <table border="0">
                                        <tr>
                                            <td>
                                                <input type="radio" id="nivel5A" name="nivel5" value="" />
                                                <label for="nivel5A">A. <span name="value"></span></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="radio" id="nivel5B" name="nivel5" value="" />
                                                <label for="nivel5B">B. <span name="value"></span></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="radio" id="nivel5C" name="nivel5" value="" />
                                                <label for="nivel5C">C. <span name="value"></span></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="radio" id="nivel5D" name="nivel5" value="" />
                                                <label for="nivel5D">D. <span name="value"></span></label>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="row col-md-4 col-md-offset-4">
                                        <input type='button' onclick="validarRespuesta(this)" class='btn btn-responder btn-fill btn-warning btn-wd' name='nivel5' value='Responder' disabled/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wizard-footer">
                        <div class="pull-right">
                            <input type='button' class='btn btn-next btn-fill btn-warning btn-wd' name='next' value='Continuar' />
                            <input type='button' class='btn btn-iniciar btn-fill btn-warning btn-wd' name='next' value='Iniciar' />
                            <input type='button' class='btn btn-finish btn-fill btn-warning btn-wd' name='finish' value='Finalizar' />
                        </div>

                        <div class="pull-left">
                            <input type='button' onclick="abandonar()" class='btn btn-exit btn-default btn-wd' name='exit' value='Abandonar' />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div> <!-- wizard container -->
    </div>
</div><!-- end row -->