@{
    ViewBag.Title = "Juego Lizeth";
}


<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <!--      Wizard container        -->
        <div class="wizard-container" style="padding-top:15px">
            <div class="card wizard-card" data-color="orange" id="wizardProfile">
                <form action="" method="">

                    <div class="wizard-header text-center">
                        <h3 class="wizard-title">Ponte a prueba</h3>
                    </div>

                    <div class="wizard-navigation">
                        <div class="progress-with-circle">
                            <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="3" style="width: 21%;"></div>
                        </div>
                        <ul>
                            <li>
                                <a href="#inicio" data-toggle="tab">
                                    <div class="icon-circle">
                                        <i class="ti-user"></i>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#nivel1" data-toggle="tab">
                                    <div class="icon-circle">
                                        <i class="ti-settings"></i>
                                    </div>
                                    Nivel 1
                                </a>
                            </li>
                            <li>
                                <a href="#nivel2" data-toggle="tab">
                                    <div class="icon-circle">
                                        <i class="ti-settings"></i>
                                    </div>
                                    Nivel 2
                                </a>
                            </li>
                            <li>
                                <a href="#nivel3" data-toggle="tab">
                                    <div class="icon-circle">
                                        <i class="ti-settings"></i>
                                    </div>
                                    Nivel 3
                                </a>
                            </li>
                            <li>
                                <a href="#nivel4" data-toggle="tab">
                                    <div class="icon-circle">
                                        <i class="ti-settings"></i>
                                    </div>
                                    Nivel 4
                                </a>
                            </li>
                            <li>
                                <a href="#nivel5" data-toggle="tab">
                                    <div class="icon-circle">
                                        <i class="ti-settings"></i>
                                    </div>
                                    Nivel 5
                                </a>
                            </li>
                            <li>
                                <a href="#final" data-toggle="tab">
                                    <div class="icon-circle">
                                        <i class="ti-map"></i>
                                    </div>
                                    Final
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane" id="inicio">
                            <div class="row">
                                <h5 class="info-text"> Para iniciar escribe tu nombre</h5>
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="form-group">
                                        <label>Nombre <small>(obligatorio)</small></label>
                                        <input name="firstname" type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="nivel1">
                            <h5 class="info-text" name="enunciado">  </h5>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <table border="0">
                                        <tr>
                                            <td>
                                                <input type="radio" id="nivel1A" name="nivel1" value="" />
                                                <label for="nivel1A">A. <span name="value"></span></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="radio" id="nivel1B" name="nivel1" value="" />
                                                <label for="nivel1B">B. <span name="value"></span></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="radio" id="nivel1C" name="nivel1" value="" />
                                                <label for="nivel1C">C. <span name="value"></span></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="radio" id="nivel1D" name="nivel1" value="" />
                                                <label for="nivel1D">D. <span name="value"></span></label>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="nivel2">
                            <h5 class="info-text"> What are you doing? (checkboxes) </h5>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <div class="col-sm-4">
                                        <div class="choice" data-toggle="wizard-checkbox">
                                            <input type="checkbox" name="jobb" value="Design">
                                            <div class="card card-checkboxes card-hover-effect">
                                                <i class="ti-paint-roller"></i>
                                                <p>Design</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="choice" data-toggle="wizard-checkbox">
                                            <input type="checkbox" name="jobb" value="Code">
                                            <div class="card card-checkboxes card-hover-effect">
                                                <i class="ti-pencil-alt"></i>
                                                <p>Code</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="choice" data-toggle="wizard-checkbox">
                                            <input type="checkbox" name="jobb" value="Develop">
                                            <div class="card card-checkboxes card-hover-effect">
                                                <i class="ti-star"></i>
                                                <p>Develop</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="nivel3">
                            <h5 class="info-text"> What are you doing? (checkboxes) </h5>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <div class="col-sm-4">
                                        <div class="choice" data-toggle="wizard-checkbox">
                                            <input type="checkbox" name="jobb" value="Design">
                                            <div class="card card-checkboxes card-hover-effect">
                                                <i class="ti-paint-roller"></i>
                                                <p>Design</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="choice" data-toggle="wizard-checkbox">
                                            <input type="checkbox" name="jobb" value="Code">
                                            <div class="card card-checkboxes card-hover-effect">
                                                <i class="ti-pencil-alt"></i>
                                                <p>Code</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="choice" data-toggle="wizard-checkbox">
                                            <input type="checkbox" name="jobb" value="Develop">
                                            <div class="card card-checkboxes card-hover-effect">
                                                <i class="ti-star"></i>
                                                <p>Develop</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="nivel4">
                            <h5 class="info-text"> What are you doing? (checkboxes) </h5>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <div class="col-sm-4">
                                        <div class="choice" data-toggle="wizard-checkbox">
                                            <input type="checkbox" name="jobb" value="Design">
                                            <div class="card card-checkboxes card-hover-effect">
                                                <i class="ti-paint-roller"></i>
                                                <p>Design</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="choice" data-toggle="wizard-checkbox">
                                            <input type="checkbox" name="jobb" value="Code">
                                            <div class="card card-checkboxes card-hover-effect">
                                                <i class="ti-pencil-alt"></i>
                                                <p>Code</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="choice" data-toggle="wizard-checkbox">
                                            <input type="checkbox" name="jobb" value="Develop">
                                            <div class="card card-checkboxes card-hover-effect">
                                                <i class="ti-star"></i>
                                                <p>Develop</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="nivel5">
                            <h5 class="info-text"> What are you doing? (checkboxes) </h5>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <div class="col-sm-4">
                                        <div class="choice" data-toggle="wizard-checkbox">
                                            <input type="checkbox" name="jobb" value="Design">
                                            <div class="card card-checkboxes card-hover-effect">
                                                <i class="ti-paint-roller"></i>
                                                <p>Design</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="choice" data-toggle="wizard-checkbox">
                                            <input type="checkbox" name="jobb" value="Code">
                                            <div class="card card-checkboxes card-hover-effect">
                                                <i class="ti-pencil-alt"></i>
                                                <p>Code</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="choice" data-toggle="wizard-checkbox">
                                            <input type="checkbox" name="jobb" value="Develop">
                                            <div class="card card-checkboxes card-hover-effect">
                                                <i class="ti-star"></i>
                                                <p>Develop</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="final">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5 class="info-text"> Are you living in a nice area? </h5>
                                </div>
                                <div class="col-sm-7 col-sm-offset-1">
                                    <div class="form-group">
                                        <label>Street Name</label>
                                        <input type="text" class="form-control" placeholder="5h Avenue">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Street Number</label>
                                        <input type="text" class="form-control" placeholder="242">
                                    </div>
                                </div>
                                <div class="col-sm-5 col-sm-offset-1">
                                    <div class="form-group">
                                        <label>City</label>
                                        <input type="text" class="form-control" placeholder="New York...">
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label>Country</label><br>
                                        <select name="country" class="form-control">
                                            <option value="Afghanistan"> Afghanistan </option>
                                            <option value="Albania"> Albania </option>
                                            <option value="Algeria"> Algeria </option>
                                            <option value="American Samoa"> American Samoa </option>
                                            <option value="Andorra"> Andorra </option>
                                            <option value="Angola"> Angola </option>
                                            <option value="Anguilla"> Anguilla </option>
                                            <option value="Antarctica"> Antarctica </option>
                                            <option value="...">...</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wizard-footer">
                        <div class="pull-right">
                            <input type='button' class='btn btn-next btn-fill btn-warning btn-wd' name='next' value='Continuar' />
                            <input type='button' class='btn btn-finish btn-fill btn-warning btn-wd' name='finish' value='Finalizar' />
                        </div>

                        <div class="pull-left">
                            <input type='button' class='btn btn-previous btn-default btn-wd' name='previous' value='Abandonar' />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div> <!-- wizard container -->
    </div>
</div><!-- end row -->